/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require redactor-rails
 *= require_self
 *= require_tree .
 */

@import "mixins";

body {
	background-image: url(asset-path("patterns/kindajean.png", image));
	background-repeat: repeat;

	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	color: #636365;
	
	font-family: 'Open Sans Condensed', sans-serif;
}


header {
	background-color: $header-background-color;

	height: 50px;
	width: 100%;
	line-height: 50px;

	margin: 0px;

	position: absolute;
	top: 0;
	left: 0;

	font-family: 'Open Sans Condensed', sans-serif;

	@include in-box-shadow;

	.logo {
		font: sans-serif;
		font-size: 1.5em;
		font-weight: bold;
		text-decoration: none;

		padding-left: 40px;

		background-color: transparent;
		color: $logo-color;
	}

	.menu {
		float: right;
		margin-right: 40px;

		list-style: none;

		li {
			display: inline;

			margin-left: 20px;
			margin-top: 10px;

			a {
				background: #228b9b;

				border: 0px;

				font: 1em "OpenSansBold",Helvetica,Arial,sans-serif;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;

				color: #fff;

				padding: 5px 15px;

				border-radius: 3px;
			}
		}
	}
}

#container {
	width: 980px;
	min-width: 980px;

	margin: 0 auto;
	margin-top: 60px;
	padding: 10px;

	display: block;

	font-family: 'Open Sans light', sans-serif;
	font-size: 2.5em;
	line-height: 35px;
}