// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

.cat-intro {
	width: 100%;

	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;

	font: inherit;
	color: #636365;
	text-align: center;
	letter-spacing: 2px;

	vertical-align: baseline;

	a {
		font-family: 'Open Sans bold', sans-serif;
		font-weight: bold;
	}
}

.cat-boxes {
	width: 100%;

	display: block;

	margin: 0px;
	margin-top: 50px;
	padding: 0px;

	text-align: center;

	.cat-box {
		width: 460px;
		height: 250px;

		margin-bottom: 40px;
		padding-left: 10px;
		padding-top: 10px;

		display: inline-block;

		text-align: left;

		@include box-shadow;


		.image {
			max-width: 150px;
			max-height: 150px;

			margin-right: 10px;
			margin-top: 0px;
			padding-top: 30px;

			vertical-align: top;

			display: inline-block;
		}

		.description {
			max-width: 280px;
			max-height: 200px;

			margin: 10px;
			margin-top: 0px;
			padding-top: 0px;

			vertical-align: top;

			display: inline-block;


			h2 {
				font-size: 30px;
				font-weight: bold;
				color: #A53818;

				a {
					text-decoration: none;
					color: #A53818;
				}
			}

			div {
				margin: 0px;
				padding: 0px;

				a {
					border-radius: 3px;
					display: inline-block;
					
					padding: 0px 5px;

					background-color: #D6D7C6;

					color: #606e67;
					font-size: 12px;
					font-family: 'Open Sans bold', sans-serif;
					font-weight: bold;

					&:hover {
						background-color: rgba(0,0,0,0.2);
						background-image: url(asset-path("patterns/kindajean.png", image));
						background-repeat: repeat;

						//color: #fff;
					}
				}
			}
		}
	}

}