<div id="container">
  	<div class="top-box">
    	<div class="header">
    		<a href="">Samsung</a> > <a href="">Galaxy S3</a>
    		<a href="" class="follow">Follow</a>
	    </div>
	    <div class="photo">
	    	<%= image_tag("products/galaxys3w.png") %>
	    </div>
	    <div class="spec-menu">
	    	<ul>
	    		<li>
	    			Hardware
	    		</li>
	    		<li>
	    			Software
	    		</li>
	    	</ul>
	    </div>
	    <div class="specs">
	    	specs
	    </div>
	</div>

	<div class="separating-cat">
		Mostly Compared To
	</div>

	<div class="middle-box">
		<div class="comparee-list">
			<div class="comparee">
				one
			</div>
			<div class="comparee">
				one
			</div>
			<div class="comparee">
				one
			</div>
			<div class="comparee">
				one
			</div>
			<div class="comparee">
				one
			</div>
			<div class="comparee">
				one
			</div>
		</div>
	</div>
  
</div>